/* ul li */
.mrwooo ul {
    list-style-type:none;
}
.mrwooo li {
    margin-left:10px;
}
.mrwooo i.fa,
.mrwooo i.fab {
    margin-right:5px!important;
}
.mrwooo i.fa.fa-check {
    color:green;
}
.mrwooo i.fa.fa-clock {
    color:orange;
}
.mrwooo i.fa.fa-calendar-alt {
    color:red;
}
p.mrwooo.inline {
    display:inline-block;
    margin-right:10px;
}
p.mrwooo.inline>span {
    font-style: italic;
}